*{
    box-sizing: border-box;
}

h1, h2, h3, h4, p{
    margin: 0;
}

body{
    font-family: "Nunito", sans-serif;
}

/* Header */

header{
    position: fixed;
    right: 0;
    left: 0;
    padding: 19px 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 1;
}

.logo{
    vertical-align: middle;
    display: inline-block;
    margin-right: 64px;
}

nav{
    vertical-align: middle;
    display: inline-block;
}

.menu-item{
    margin-right: 32px;
    display: inline-block;
}

.menu-item>a{
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    color: #485466;
}

.menu-item>img{
    margin-left: 6px;
    vertical-align: middle;
    display: inline-block;
}

.header-login>a{
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    color: #4E92F9;
}

.Sign-up{
    padding: 7px 16px;
    vertical-align: middle;
    border: 0;
    box-shadow: 0px 7px 20px rgba(49, 69, 255, 0.13);
    border-radius: 8px;
    margin-left: 16px;
    color: #C381DB;
}

/* Header END */


/* Main */

.Bg-main{
    position: absolute;
    right: 0;
    top: 0;
}

h1{
    color: #C381DB;
    margin-top: 227px;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
}

h2{
    font-weight: 400;
    font-size: 39px;
    line-height: 55px;
    margin-bottom: 13px;
}

.content>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 49px;
}

.button-demo{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 7px 16px;
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    border-radius: 8px;
    color: #fff;
    border: 0;
    box-shadow: 5px 7px 20px rgba(49, 69, 255, 0.60);
}

.Main-img{
    margin-top: 280px;
    left: 0;
}

.clients{
    margin-top: 105px;
}

.client{
    margin-right: 94px;
    padding: 52px 0;
    display: inline-block;
}

.last-client{
    margin-right: 0;
}

/* Main END */